<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: "Times New Roman", Georgia, Serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>

<body>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">

    </header>

    <!-- Page content -->
    <div class="w3-content" style="max-width:1100px">

        <!-- About Section -->
        <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="https://i.pinimg.com/originals/20/8e/fe/208efee4b7f6f760299ff25a1e433aad.jpg" class="w3-round w3-image w3-opacity-min"
                    alt="Table Setting" width="600" height="750">
            </div>
            <div class="w3-col m6 w3-padding-large w3-border w3-wide">
                <h1 class="w3-center" style="color:#73c2bf;">「SHINee｣</h1>
                <h4 class="w3-center">Since 2008</h4>
                <h5 class="w3-center">5 Members</h5>
                <p class="w3-center" style="color:#73c2bf;">Onew JongHyun Key MinHo TaeMin</p>
                <h5 class="w3-center">Fanclub Name "SHINee World"</h5>
                <h2 class="w3-center" style="color:#73c2bf;">Always FIVE</h2>
                <p class="w3-center">Replay
                    <br> The Shinee World
                    <br> Romeo
                    <br> 2009, Year of Us
                    <br> Lucifer
                    <br> Sherlock
                    <br> Dream Girl – The Misconceptions of You
                    <br> Why So Serious? – The Misconceptions of Me
                    <br> Everybody
                    <br> Odd
                    <br> 1 of 1</p>
            </div>
        </div>>

        <hr>



        <hr>
    </div>
</body>

</html>